.audio-circle-canvas {
  position: fixed;
  top: 15%;
  left: 1%;
  width: 100vw;
  height: 90vh;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 413px) {
  .audio-circle-canvas {
    top: 20%;
    left: 100%;
    width: 100vw;
    height: 60vh;
  }
}
