.footer {
  background-color: rgba(23, 23, 23, 0.125);
  backdrop-filter: blur(30px);
  text-align: center;
  padding: 1.5rem 1rem;
  /* background-color: #1a1a1a; */
  color: #fff;
  font-size: 0.9rem;
  position: relative;
}

.footer-socials {
  margin-bottom: 1rem;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #646cff;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ff6480;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #65000f;
}
