html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.cursor-dot {
  position: fixed;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 40% 40%, #f5a4a4 30%, #e40048 100%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 25px #ff0073, 0 0 50px #e40000;
  animation: fadeOut 0.8s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(4);
  }
}
